<footer class="c-footer">
  <div
    class="c-footer__content g--background-black-3 g--border-top--color-alternative-4 g--border-top--width-1"
  >
    <p class="c-footer__text g--color-white-8 g--text-align-center">
      2025 FedeSearch.
    </p>
    <nav class="c-footer__nav">
      <ul class="c-footer__links">
        <li class="c-footer__link-item">
          <a
            href="https://github.com/lueyo"
            class="c-footer__link"
            target="_blank"
            >Github</a
          >
        </li>
        <li class="c-footer__link-item">
          <a href="https://lueyo.es" class="c-footer__link" target="_blank"
            >Portafolios</a
          >
        </li>
        <li class="c-footer__link-item">
          <a
            href="https://github.com/lueyo31"
            class="c-footer__link"
            target="_blank"
            >Github secundario</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
