/* =========== FLEX =========== */
.l-flex {
    display: flex;

    // Direcciones de flex
    &--horizontal {
        flex-direction: row;
    }

    &--horizontal-reverse {
        flex-direction: row-reverse;
    }

    &--vertical {
        flex-direction: column;
    }

    &--vertical-reverse {
        flex-direction: column-reverse;
    }

    @each $name, $value in $breakpoints {
        @media(min-width: #{$value}) {
            &--horizontal\@#{$name} {
                flex-direction: row;
            }

            &--horizontal-reverse\@#{$name} {
                flex-direction: row-reverse;
            }

            &--vertical\@#{$name} {
                flex-direction: column;
            }

            &--vertical-reverse\@#{$name} {
                flex-direction: column-reverse;
            }
        }
    }

    // Alineación en el eje principal
    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-around {
        justify-content: space-around;
    }

    &--justify-evenly {
        justify-content: space-evenly;
    }

    // Alineación del contenido en el eje secundario
    &--align-content-start {
        align-content: flex-start;
    }

    &--align-content-end {
        align-content: flex-end;
    }

    &--align-content-center {
        align-content: center;
    }

    &--align-content-between {
        align-content: space-between;
    }

    &--align-content-around {
        align-content: space-around;
    }

    &--align-content-evenly {
        align-content: space-evenly;
    }

    // Alineación de los elementos en el eje secundario
    &--align-items-start {
        align-items: flex-start;
    }

    &--align-items-end {
        align-items: flex-end;
    }

    &--align-items-center {
        align-items: center;
    }

    &--align-items-baseline {
        align-items: baseline;
    }

    &--align-items-stretch {
        align-items: stretch;
    }

    // Alineación de los elementos en el secundario
    &__area--align-self-start {
        align-self: flex-start;
    }

    &__area--align-self-end {
        align-self: flex-end;
    }

    &__area--align-self-center {
        align-self: center;
    }

    &__area--align-self-baseline {
        align-self: baseline;
    }

    &__area--align-self-stretch {
        align-self: stretch;
    }

    // Orden de los elementos
    @for $i from 1 through 12 {
        &__area--order-#{$i} {
            order: $i;
        }
    }

    // Tamaño de inicio de los elementos
    @for $i from 1 through 12 {
        &__area--basis-#{$i} {
            flex-basis: calc($i * 100% / 12);
        }
    }

    // Crecimiento de los elementos
    @for $i from 1 through 12 {
        &__area--grow-#{$i} {
            flex-grow: $i;
        }
    }

    // Encogimiento de los elementos
    @for $i from 1 through 12 {
        &__area--shrink-#{$i} {
            flex-shrink: $i;
        }
    }
}